<div class="container">
    <h2 class="mx-3">Cidades</h2>
      
    <form (ngSubmit)="insertCity" class="mx-3">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="city.nome" name="nome">
        </div>
        <div class="form-group">
          <label for="name">Estado</label>
          <input type="text" class="form-control" id="Estado" [(ngModel)]="city.estado" name="Estado">
        </div>
        <div class="form-group">
          <label for="name">Quantidade de habitantes</label>
          <input type="text" class="form-control" id="quantidade_de_habitantes" [(ngModel)]="city.quantidade_de_habitantes" name="time">
        </div>
     
        
        <button type="button" (click)="insertCity()" class="btn btn-primary">Cadastrar</button>
      </form>
    <br>
  </div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">nome</th>
            <th scope="col">estado</th>
            <th scope="col">Quantidade de habitantes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let city of cities">
            <td>{{ city.id }} </td>
            <td>{{ city.nome }} </td>
            <td>{{ city.estado }} </td>
            <td>{{ city.quantidade_de_habitantes }} </td>
            <td><button class="btn btn-warning" routerLink="/editCity/{{city.id}}">Editar</button></td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteData(city.id)">Deletar</button></td>
        </tr>
    </tbody>
</table>